<div id="landing-image">
  <div class="ui grid">
    <div class="sixteen wide computer column center aligned">
      <h1 class="ui center header">Top Hits of Today</h1>
      <h2 class="ui center header">Your music. All the time.</h2>
      <%= link_to 'The Artists', artists_path, class: 'big ui inverted black button' %>
      <%= link_to 'The Charts', billboards_path, class: 'big ui inverted black button' %>
    </div>
  </div>
</div>
