<div class="ui inverted menu">
  <%= link_to 'Home', root_path, class: 'item' %>
  <%= link_to 'Artists', artists_path, class: 'item' %>
  <%= link_to 'Charts', billboards_path, class: 'item' %>
</div>
